@import "../../styles/styles.scss";

.createToDoContainer {
	border: 1px solid #111d5e;
	display: flex;
	flex-direction: column;
	width: 50%;
	border-radius: 20px;
	padding: 20px;
	margin: 70px auto;
	color: #111d5e;

	&:hover {
		box-shadow: 6px 4px 6px rgba(46, 54, 65, 0.2);
		border: 1px solid #d1005d;
	}
}
.createToDoRow {
	display: flex;
	justify-content: space-between;
	margin-bottom: 5px;
	font-family: $primary_medium;
	font-size: 16px;

	.toDoDetailHeader {
		font-family: $primary_bold;
	}

	input {
		width: 80%;
		text-align: right;
		border: 1px solid #111d5e;
		border-radius: 8px;
		font-family: $primary_medium;
		font-size: 16px;
		color: #111d5e;
	}
}

.bottomRow {
	margin-top: 15px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;

	.createToDo {
		cursor: pointer;
		width: 160px;
		height: 30px;
		text-align: center;
		justify-content: center;
		border-radius: 20px;
		background-color: yellowgreen;
		border: 1px solid yellowgreen;
		color: white;
		font-size: 18px;
		font-family: $primary_bold;

		&:hover {
			background-color: yellow;
			box-shadow: 6px 4px 6px rgba(46, 54, 65, 0.2);
			color: #111d5e;
			border: yellow;
		}
	}

	.createGoBack {
		border: 1px solid #111d5e;
		color: #111d5e;
		border-radius: 20px;
		width: 160px;
		height: 30px;
		text-align: center;
		vertical-align: middle;
		font-size: 18px;
		font-family: $primary_bold;

		&:hover {
			background-color: #111d5e;
			box-shadow: 6px 4px 6px rgba(46, 54, 65, 0.2);
			border: #111d5e;
			color: white;
		}
	}
}
